
@model Library_Mvc_Jashim.ViewModels.LibrarianInfoViewModel

@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.PageTitle</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
    </style>
</head>
<body>
    <center>
        <h1>@Model.PageHeader</h1>

        <table class="styled-table">
            <tr>
                <td>LibrarianID :</td>
                <td>@Model.Librarian.LibrarianID</td>
            </tr>
            <tr>
                <td>Name : </td>
                <td>@Model.Librarian.Name</td>
            </tr>
            <tr>
                <td>Age :</td>
                <td>@Model.Librarian.Age</td>
            </tr>
            <tr>
                <td>Email :</td>
                <td> @Model.Librarian.Email</td>
            </tr>
            <tr>
                <td> Address :</td>
                <td> @Model.Librarian.Address</td>
            </tr>
        </table>
    </center>
</body>
</html>